/* .dropdown
{
    height: 2rem;
}
.dropdown-menu
{
    width: 20rem;
    text-align: left;
    color: aliceblue;
    position: relative;
    cursor: pointer;
    padding: 2rem;
    font-size: large;
    top: -100px;;
}
.dropdown-list
{
    border: 1px solid transparent;
} */
.contact
    {
     background-image: url('../assets/image1.jpg');
     height: 300px;
     width: 400px;
     background-size: cover;
     background-position: left;
    }